@font-face {
    font-family: 'Fredoka';
    src: url('./fonts/Fredoka/Fredoka-VariableFont_wdth,wght.ttf') format('truetype');
}

body{
    background-color: rgb(212, 252, 212);
}

.Browser-Page{
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-left: max(30%, 60px);
    padding-right: max(30%, 60px);
    display: grid;
    place-items: center;
}

.Login-Page , .ForgotPwd-Page{
    background-color: rgb(0, 54, 0);
    color: white;
    text-align: center;
    border: 2px solid rgb(0, 54, 0);
    border-radius: 10px;
    height: auto;
    width: max(300px, 80%);
   padding: max(40px, 5%);
    font-family: "fredoka", sans-serif;
}

.Register-Page{
    background-color: rgb(0, 54, 0);
    color: white;
    text-align: center;
    border: 2px solid rgb(0, 54, 0);
    border-radius: 10px;
    height: auto;
    width: max(300px, 80%);
    padding: max(40px, 5%);
    font-family: "fredoka", sans-serif;
}

.Login-Form, .Register-Form{
    display: block;
    justify-content: center;
    margin-top: 30px;
}

.input-group-text{
    background-color: rgb(0, 54, 0);
    color: white;

}
@media screen and (max-width: 600px){
    #inputGroup-sizing-default1{
        width: max(10px,2em);
        height: max(20px,2.2em);
    }
    
    .Text-group1{
        font-size: min(12px, 1.2em);
    }
    .Login-Page{
        height: max(400px, 60%);
        padding: max(20px, 5%);
    }

    .Register-Page{
        height: max(550px, 60%);
        padding: max(20px, 5%);
    }

    .Browser-Page{
        padding-top: 250px;
    }
}
.Redirect{
    color: white;
}

.Header-1{
    font-weight: 50px;
    letter-spacing: 2px;
}

.Menu-Bar{
    background-color: rgb(0, 54, 0);;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: max(30px, 2%);
}

#menu-button{
    background-color: rgb(0, 54, 0);
    border: none;
}

#Logo{
    height: max(30px, 37%);
    width: max(30px, 37%);
}

#Menu{
    height: 40px;
    width: 40px;
    align-self: center;
}

#reg-lgn-btn{
    background-color: rgb(12, 90, 12);
    border: 2px solid rgb(12, 90, 12);
    font-size: 1.5em;
    margin-top: 15px;
    @media screen and (max-width: 600px){
        font-size: min(17px, 1.4em);
    }
}

#inputGroup-sizing-default1{
    background-color: rgb(0, 54, 0);
    width: max(30px , 25%);
    font-size: min(14px, 1.4em);
    color: white;
    padding: 10px;
}

#username, #password, #regUname, #regPwd, #regEmail, #regPhone, #reEnterPwd{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}